@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cyrielle Touton<br />
    BLAGNAC<br />
    <abbr title="Phone">Tel:</abbr>
    07 77 77 77 77
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">cyrielle.touton@campus-igs-toulouse.fr</a><br />
</address>