@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mon application avec LINQ</h1>
    <p class="lead">Trouve des infos sur un pays.</p>
    <form action="@Url.Action("Country", "API")" method="get">
        <input type="text" name="name">
        <input class="btn btn-primary btn-lg" type="submit" value="Chercher &raquo">
    </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VOYAGES PREVUS</h2>
        <p>Voir tous les voyages proposés.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Travels", "Travel")">Voir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BUDGET VOYAGE</h2>
        <p>Trouver un voyage avec un budget maximum.</p>
        <form action="@Url.Action("TravelsMaxCost", "Travel")" method="get">
            <input type="text" name="cost">
            <input class="btn btn-primary" type="submit" value="Voir &raquo;">
        </form>
    </div>
    <div class="col-md-4">
        <h2>INSCRIPTION PAR PARTICIPANT</h2>
        <p>Voir à quel voyage est inscrit le participant.</p>
        <form action="@Url.Action("Registered", "Travel")" method="get">
            <input type="text" name="name">
            <input class="btn btn-primary" type="submit" value="Voir &raquo;">
        </form>
    </div>
</div>

<img class="img-responsive" style="width: 100%" src="~/Media/travel.jpg" alt="voyage" />