@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mon application avec LINQ</h1>
    <p class="lead">Test de Julien à nouveau.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Voir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TEST 1</h2>
        <p>
            Description premier paragraphe.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Voir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TEST 2</h2>
        <p>Description deuxième paragraphe.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Voir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TEST 3</h2>
        <p>Description troisième paragraphe.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Voir plus &raquo;</a></p>
    </div>
</div>