
@model MyAppLinq.Models.Collections.Travel

@{
    ViewBag.Title = "Travels";
}

<h2>Voyages</h2>
<ul>
    @foreach (var travel in ViewBag.Travels)
    {
        <li>@travel</li>
    }
</ul>

<br />

<h3>Ajouter un nouveau voyage</h3>
@using (Html.BeginForm("Create", "Travel", FormMethod.Post, new { id = "Form1" }))
{
    <div class="row">
        <div class="col-lg-2">Nom du voyage : </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Cout du voyage : </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Cost, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Participant : </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.PersonId, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12"><input type="submit" value="Submit" class="btn btn-primary"></div>
    </div>
}
